<h4>Task 5 : Design Login Form & validate it</h4>
<div>
    <h2>Login Form</h2>
    <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
      <div class="form-group">
       
        Username : <input type="text" id="username" name="username" [(ngModel)]="model.username" required /><br><br>
        Password : <input type="password" id="password" name="password" [(ngModel)]="model.password" required /><br><br>
      </div>
      <button type="submit">Login</button>
      <div *ngIf="showValidationMessage" class="validation-message">
        <h4 style="color: red;">Please enter both username and password.</h4>
      
      </div>
    </form>
  </div>
  <hr>
  