.success{
    color: green;
}

.danger{
    color: red;
}

.warning{
    color: orange;
}

.special{
    font-size: 12px;
    text-transform: uppercase;
}

.text-clicked {
    font-style: italic;
    color: blue; 
  }
  