
<!-- syntax
    [class]="propertyname"
-->

<!--
<h3 [class]="myclass" > Apply Class Binding</h3>

<h3 [class.danger]="rating<4" 
    [class.warning]="rating>4"
>Apply Class Binding on Condition</h3>

<ngClass
    - It is attribute directive
    - U want apply multiple css classes 
    - it takes a json object     

<div [ngClass]="jsonObj" >
    Apply ngClass Attribute directive 
</div>

-->

<h4>Task 2 : Apply Class Binding to button, when button on click to change text style to italic & text color should be change.</h4>
<p>class-binding works!</p>
<p [class.text-clicked]="isClicked">My name is {{name}}</p>
<button (click)="onClick()">Click Me</button>

<hr>





